name: Release
on:
  push:
    tags:
      - 'v*.*.*'

permissions:
  contents: write

jobs:
  create-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Get the release version from the tag
        if: env.VERSION == ''
        run: |
          version=$(echo "${{ github.ref_name }}" | sed 's/^v//')
          echo "VERSION=$version" >> $GITHUB_ENV
      - name: Show the version
        run: |
          echo "version is: $VERSION"
      - name: Check that tag version and Cargo.toml version are the same
        run: |
          if ! grep -q "#let version = \"$VERSION\"" nz2-spec.typ; then
            echo "version does not match nz2-spec.yml" >&2
            exit 1
          fi
      - name: Create GitHub release
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          prerelease_flag=""
          if echo "$VERSION" | grep -q "-beta."; then
            prerelease_flag="--prerelease"
          fi
          gh release create "v$VERSION" --draft --verify-tag \
            --title "v$VERSION" "$prerelease_flag"
    outputs:
      version: ${{ env.VERSION }}

  build-release:
    needs: ['create-release']
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: typst-community/setup-typst@v4
      - name: Install Fonts
        run: |
          sudo apt-get update && \
          sudo apt-get install -y wget unzip && \
          wget -qO fontawesome.zip https://use.fontawesome.com/releases/v7.1.0/fontawesome-free-7.1.0-desktop.zip && \
          unzip -q fontawesome.zip -d fontawesome && \
          sudo mkdir -p /usr/share/fonts/truetype/fontawesome && \
          sudo cp fontawesome/fontawesome-free-7.1.0-desktop/otfs/*.otf /usr/share/fonts/truetype/fontawesome/ && \
          wget -qO jetbrains-mono.zip https://github.com/ryanoasis/nerd-fonts/releases/download/v3.4.0/JetBrainsMono.zip && \
          unzip -q jetbrains-mono.zip -d jetbrains-mono && \
          sudo mkdir -p /usr/share/fonts/truetype/jetbrains-mono && \
          sudo cp jetbrains-mono/*.ttf /usr/share/fonts/truetype/jetbrains-mono/ && \
          sudo fc-cache -fv
      - name: Build Documents
        run: ./build.sh
      - name: Upload Documents
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          version="${{ needs.create-release.outputs.version }}"
          mv nz2-spec.light.pdf "nz2-spec-$version-light.pdf"
          mv nz2-spec.dark.pdf "nz2-spec-$version-dark.pdf"
          gh release upload "v$version" \
            "nz2-spec-$version-light.pdf" "nz2-spec-$version-dark.pdf"
